.table, tr, td {font-size: 12px;}
ul, li{list-style:none}
.h3-title{}
.bg_h3-title{background: url(../images/h3title.png) no-repeat scroll 17px 5px transparent;background-color:#f2722b;font-weight:bold;color:#fff;font-size:13px;padding:8px 0px 8px 45px;text-align:left;font-weight:bold;}
.ddt{
  /*width:198px;*/
  /*width:297px;*/
}
/*.ch-col{
	max-width:160px !important;}*/
.col-left{ width:160px; background-color:#ccc;}
.col-center{ width:982px;}
.col-right{ width:240px; float:right; background-color:#FF0000;}
.divWrap{float:left;position:relative;line-height:2.0;}
.tbright{position:absolute;top:0;right:0;}
.divWrap a:link {text-decoration: none;}
.divWrap em {font-style: italic;}
.divWrap a:hover {text-decoration: underline;}
.fl, .city {float: left !important;}
.refress {background: url("../core/imgs/refresh1.png") no-repeat scroll 0 0 transparent;cursor: pointer;height: 18px;margin-top: 2px;width: 16px;color:#CCC;}
.code1, .img-code, .refress {color: #777777;float:left;font-size: 11px;margin-right: 8px;}
.bg-green td {background:#e3e3e3;}
.ic_delete {background: url("../images/cross.png") no-repeat;padding: 2 0 4px 16px;}
.fr {float: right !important;}
.text-right {text-align: right !important;color:#8e8e8e;}
.white{color:#000 !important}
.text-center{text-align:center !important;}
.bg_top_pup{background:#333;height:31px;width:183px;}
.bg_top_pup >span{line-height:34px;color:#FFF;font-weight:bold;background:url(../core/imgs/refresh.png) no-repeat 10px;padding-left:35px;display:block;}
.sanpham_chss{width:140px;margin:10px 0px 0px 30px;}
.sanpham_chss >a{color:#020202 !important;font-weight:bold;background:url(../images/sanphamsosanh.png) no-repeat left;display:block;text-align:left;padding-left:20px;}
.chon_sp{color:#fff;line-height:30px;text-align:center;display:block;}
.clred {color: #FCFCFC !important;
font-weight: bold;}
.popup-cont {padding: 10px;}
.cbutton{text-decoration:none;display:inline-block;padding:2px 5px;border:none;	color:#FFF !important;cursor:pointer;margin-left:11px;}	
.title_wrap{}
.btn_ss_pupup{width:100%;height:22px;text-align:center;}

.btn_ss_pupup input[type="button"], .btn_ss_pupup span{background:url(../images/bg_header.png) repeat-x;border:none;border-radius:5px;color:#FFF;font-size:12px;font-weight:bold;padding:4px 10px;cursor:pointer;}


.c-paging{position:absolute;top:0;right:0;}
.c-pagingb {position:absolute;right:0;bottom:0;}
.c-paging a,.c-pagingb a{display:inline-block;}
.next{width:14px;height:12px;background:url(../images/2rrow.png) no-repeat scroll -14px 0;}
.fast{width:14px;height:12px;background:url(../images/2rrow.png) no-repeat scroll 0 0;margin-right:6px;}
.w-product{ overflow: hidden;position:relative; width:228px;padding:27px 5px 27px !important;}
.w-product .jcarousel-list-horizontal{overflow: hidden;}
.jcarousel-skin-tango .jcarousel-direction-rtl{direction: rtl;}
.jcarousel-skin-tango .jcarousel-clip{ overflow: hidden;}
.c-product{position:relative;margin:0;}
.c-product li{ width: 233px; float:left;}
.bg_sosanh{width:100%;}
.bg_sosanh .hinh_ss{margin:0px 10px 0px 10px;float:left}
.bg_sosanh, .title_ss{color:#000 !important;font-weight:bold;text-align:left}
.title_ss:hover{color:#ff2202 !important;}
.bg_sosanh, .price_ss{color:#117aa4;padding-bottom:15px;}
.chon_ss{color:#8e8e8e !important;padding-left:30px;list-style:30px;margin-top:15px;}
.icon_ss{background:url(../images/checkmark.png) no-repeat; }
.tr-hr{background-color:#fbfbfb;}
#basic-modal-content th,#basic-modal-content td{padding:10px;}
#basic-modal-content .trlist:hover{background-color:#FFC;}
.star{background:url(../images/star8.gif) no-repeat scroll 0 0 transparent;width:16px;height:13px;display:inline-block;}
.padingL{padding-left:20px !!important;}
.bg_input_pup{width:236px;height:26px;position:relative;behavior:url(htc/PIE.htc);background:#fafafa;}
.input_ss{width:175px;height:20px;float:left;margin-top:2px;border:none !important;margin-left:5px;background:#fafafa;}
.btn_sosanh_pp{float:right;}
.btn_sosanh_pp >a{text-align:center;display:block;color:#FFF !important;background:url(../images/bg_header.png) repeat-x;border-radius:5px;padding:1px 10px;}
.btn_sosanh_pp >a:hover{color:#FFF}